:root {
    --off-white:#FBF3E1;
    --blue: #114D97;
    --orange: #F36C3B;
    --black: black;

    --transition: all ease-in 0.15s;
    }

body, ul, p {
    margin: 0px;
}

a {
    text-decoration: none;
}




