---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';

//Component imports
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro'
import Input from '../components/Input.astro';
---

<Layout navColor="blue" title="Contact Us">
    <main>
        <section>
            <div>
                <div>
                    <h2>Reach Out and Join Our Community</h2>
                    <div>
                        <a href="mailto:inquiries@nsdesign.ph" class="medium-body">inquiries@nsdesign.ph</a>
                        <p class="medium-body">+63 917 586 3211</p>
                    </div>
                </div>
                <img src="/images/contactus-hero.png" alt="">
            </div>
        </section>
        <section>
            <div>
                <h1>Want to Meet? <br> Schedule a Meeting</h1>
                <p class="medium-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <Button color="black" href="" isUppercase={true} text="Book a Meeting"/>
            </div>
        </section>
        <section>
            <div>
                <h2>Drop Us a Message</h2>
                <form target="_blank" action="https://formsubmit.co/gian@nsdesign.ph" method="POST">
                    <div>
                        <div>
                            <Input type="text" placeholder="Name"/>
                            <Input type="email" placeholder="Email"/>
                        </div>
                        <Input type="text-area" placeholder="What's on your mind?"/>
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </section>
        <section>
            <div>
                <div>
                    <h2>Prefer to Meet in Person? <br> Let's have coffee.</h2>
                    <p class="medium-body">We’re stationed in Room for Friends. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
                <img src="/images/contactus-end.png" alt="">
            </div>
        </section>
    </main>
</Layout>

<style>
    section:nth-of-type(1) {
        background-color: var(--blue);
        padding: 200px 120px 120px 120px;
        color: var(--off-white);

        > div {
            display: flex;
            flex-direction: row;

            max-width: var(--max-width);
			margin: auto;    

            > div {
                display: flex;
                flex-direction: column;
                gap: 80px;

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    > a {
                        color: var(--off-white);
                    }
                }
            }

            > img {
                width: 460px;
                object-fit: contain;
            }
        }
    }

    section:nth-of-type(2) {
        background-color: var(--off-white);
        padding: 160px 120px;
        text-align: center;

        > div {
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;

            max-width: var(--max-width);
			margin: auto;

            > h1 {
                @media (width <= 1280px) {
                    font-size: var(--h3);;
                }
            }

            > p {
                @media (width >= 1280px) {
                    width: 800px;
                }
            }
        } 
    }
    

    section:nth-of-type(3), section:nth-of-type(4) {
        background-color: var(--off-white);
        padding: 80px 120px;

        > div {
            max-width: var(--max-width);
			margin: auto;    
        }
    }

    section:nth-of-type(3) {
        display: none;
        > div {
            display: flex;
            flex-direction: column;
            gap: 32px;

            > form > div {
                display: flex;
                flex-direction: column;
                gap: 32px;

                > div {
                    display: flex;
                    flex-direction: row;
                    gap: 32px;
                }
            }
        }
    }


    section:nth-of-type(4) {
        > div {
            display: flex;
            flex-direction: column;
            gap: 64px;

            > div {
                display: flex;
                flex-direction: column;
                gap: 32px;

                > p {
                    @media (width >= 1280px) {
                        width: 800px;
                    }
                }
            }

            > img {
                width: 1116px;
                align-self: center;
            }
        }
    } 

    button {
        padding: 14px 24px;
        font-family: Apercu-Bold;
        font-size: var(--small-body);
        border-radius: 8px;
        width: fit-content;
        color: var(--black);
        background-color: transparent;
        border: solid 2px var(--black);
        text-transform: uppercase;
        transition: var(--transition);

        &:hover {
            background-color: var(--black);
            color: var(--off-white);
        }
    }

    @media (width <= 430px) {
        main {
            > section:nth-child(1) {
                padding: 160px 24px 32px 24px;
                > div {
                    flex-direction: column;
                    gap: 40px;

                    > div {
                        gap: 40px;
                        > h2 {
                            font-size: 4rem;
                            line-height: 100%;
                        }
                    }
                    > img {
                        max-width: 100%;
                    }
                }
            }

            > section:nth-child(2) {
                padding: 64px 24px 32px 24px;
                > div {
                    gap: 24px;
                    > div {
                        > h1 {
                            font-size: var(--h3);
                        }
                        > h2 {
                            font-size: var(--h4);
                        }
                    }
                    > p {
                        font-size: var(--small-body);
                    }
                }
            }

            > section:nth-child(4) {
                padding: 32px 24px;
                > div {
                    gap: 32px;
                    > div {
                        gap: 16px;

                        > h2 {
                            font-size: var(--h4);
                        }
                        > p {
                            font-size: var(--small-body);
                        }
                    }
                    > img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
</style>
