---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';

//Component imports
import Layout from '../layouts/Layout.astro';
import CTA from '../components/CTA.astro';
import Socials from '../components/Socials.astro';
import Dropdown from '../components/Dropdown.astro';
---

<Layout navColor="blue" title="Services">
    <main>
        <section class="hero">
            <div>
                <div class="__copy">
                    <div class="__heading">
                        <img src="/logos/Primary Logo Light.svg" alt="Natural Selection Design Logo">
                        <h1>In a nutshell</h1>
                    </div>
                    <p class="small-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <img src="/images/contactus-hero.png" alt="">
            </div>
        </section>
        <section class="services">
            <div>
                <Dropdown />
            </div>
        </section>
        <section class="scope">
            <div>
                <img src="/images/contactus-hero.png" alt="">
                <div class="__copy">
                    <h2>Don't see what you're looking for?</h2>
                    <p class="small-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>
            </div>
        </section>
        <CTA />
        <Socials />
    </main>
</Layout>

<style>
    .hero {
        background-color: var(--blue);
        padding: 136px 24px 40px 24px;
        color: var(--off-white);

        @media (width >=768px) {
            padding: 200px 80px 40px 80px;
        }

        @media (width >=1280px) {
            padding: 200px 120px 120px 120px;
        }

        
        > div {
            max-width: var(--max-width);
			margin: auto;
            
            @media (width >=1280px) {
                display: flex;
                flex-direction: row;
            }
            
            > .__copy {
                margin-bottom: 40px;

                > .__heading {
                    margin-bottom: 40px;

                    > img {
                        width: 244px;
                        margin-bottom: 4px;

                        @media (width >=768px) {
                            width: 350px;
                        }
        
                        @media (width >=1280px) {
                            width: 460px;
                        }
                    }

                    > h1 {
                        font-size: 4rem;
                        transform: translateX(-3px);

                        @media (width >=768px) {
                            font-size: var(--h2);
                            transform: translateX(-6.5px);
                        }
    
                        @media (width >=1280px) {
                            font-size: var(--h1);
                            transform: translateX(-8.5px);
                        }
                    }   
                }

                > p {
                    padding-left: 48px;

                    @media (width >=768px) {
                        padding-left: initial;
                    }

                    @media (width >=1280px) {
                        padding-left: initial;
                        font-size: var(--medium-body);
                    }
                }
            }

            > img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .services {
        background-color: var(--blue);
        
        > div {
            display: flex;
            flex-direction: column;
            margin: auto;
            max-width: var(--max-width);
            padding: 16px 24px 40px 24px; 
            gap: 24px;

            @media (width >=768px) {
                padding: 80px;
            }

            @media (width >= 1280px) {
                padding: 80px 120px 120px 120px;
                gap: 108px;
            }
        }
    }

    .scope {
        background-color: var(--off-white);
        padding: 32px 16px;

        @media (width >=768px) {
            padding: 80px;
        }

        @media (width >= 1280px) {
            padding: 120px;
        }

        
        > div {
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            @media (width >= 1280px) {
                flex-direction: row;
                justify-content: space-between;
                gap: 5%;
            }

            > img {
                width: 100%;
                object-fit: contain;

                @media (width >= 1280px) {
                    width: 35%;
                }
            }

            > .__copy {
                margin: auto;

                > h2 {
                    font-size: var(--h3);
                    line-height: 90%;
                    margin-bottom: 16px;

                    @media (width >= 768px) {
                        font-size: 4.5rem;
                        margin-bottom: 40px;
                    }
                }

                >p {
                    @media (width >= 1280px) {
                        font-size: var(--medium-body);
                    } 
                }
            }
        }

    }
</style>