---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';

// Component imports
import Layout from '../layouts/Layout.astro';
---

<Layout navColor="off-white" title="Work">
    <main>
        <section class="hero">
            <div>
                <h1>These brands were eager to tell their story</h1>
                <p class="medium-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laud   antium.</p>
                <img src="../../icons/down-black-arrow.svg" alt="">
            </div>
        </section>
    </main>
</Layout>

<style>
    .hero {
        background-color: var(--off-white);
        color: var(--black);

        > div {
            padding: 180px 24px 32px 24px;
            gap: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
            @media (width >= 1280px) {
                padding: 160px 120px 48px 120px;
                max-width: var(--max-width);
                margin: auto;
                gap: 40px;

            }

            > h1 {
                font-size: var(--h3);

                @media (width >= 1280px) {
                    font-size: var(--h1);
                }
            }
            
            > p {
                font-size: var(--small-body);

                @media (width >= 1280px) {
                    font-size: var(--medium-body);
                }
            }

            > img {

                @media (width >= 1280px) {
                    margin-top: 24px;
                }
            }
        }
    }
</style>