---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';

// Component imports
import Button from './Button.astro';
---

<section>
    <div>
        <div>
            <h1>Seen Enough? <br> Let's Work Together</h1>
        </div>
        <p class="small-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <Button color="whiteToBlack" href="" isUppercase={true} text="Book a Meeting"/>
    </div>
</section>

<style>
    section {
        background-color: var(--orange);

        > div {
            padding: 56px 24px;
            text-align: center;
            color: var(--off-white);
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
            max-width: var(--max-width);
			margin: auto;

            @media (width >= 768px) {
                padding: 112px 64px 56px 64px;
            }

            @media (width >= 1280px) {
                padding: 160px 120px 80px 120px;
            }

            > div {

                > h1 {
                    font-size: var(--h3);

                    @media (width >=768px) {
                        font-size: var(--h2);
                    }

                    @media (width >=1280px) {
                        font-size: var(--h1);
                    }
                }
            }

            > p {
                max-width: 680px;

                @media (width >= 1024px) {
                    font-size: var(--medium-body) !important;
                }
            }
        }
    }
</style>