---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';

//Component imports
import PrimaryLogo from './PrimaryLogo.astro';
---

<section class="hero">
    <PrimaryLogo color="white" size="large"/>
    <p class="medium-body-aka">a.k.a.</p>
    <h2 class="h2-italic">
        Natural Selection Design
    </h2>
    <p class="medium-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
    </p>
    <img src="../../icons/down-white-arrow.svg" alt="">
</section>

<style>
    .hero {
		background-color: var(--blue);
		padding: 40px 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		gap: 48px;
		text-align: center;
		color: var(--off-white);

		> img {
			width: 13px;
		}
	}
</style>