---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';
---

<div class="honeycomb">
    <div class="first-row">
        <img src="/images/hex-default.png" alt="" class="top right">
        <img src="/images/hex-hover.svg" alt="" class="bottom-left">
        <img src="/images/hex-hover.svg" alt="" class="bottom-right">
        <img src="/images/hex-default.png" alt="" class="top">
    </div>
    
    <div class="middle-row">
        <img src="/images/hex-default.png" alt="" class="top right">
        <img src="/images/hex-hover.svg" alt="" class="bottom-left">
        <img src="/logos/Secondary Logo Acronym.svg" alt="" class="top">
        <img src="/logos/Secondary Logo Expanded.svg" alt="" class="bottom-middle">
        <img src="/images/hex-hover.svg" alt="" class="bottom-right">
        <img src="/images/hex-default.png" alt="" class="top right">
    </div>
    
    <div class="last-row">
        <img src="/images/hex-default.png" alt="" class="top">
        <img src="/images/hex-hover.svg" alt="" class="bottom-left">
        <img src="/images/hex-hover.svg" alt="" class="bottom-right">
        <img src="/images/hex-default.png" alt="" class="top right">
    </div>
</div>

<style>
    .honeycomb {
            margin-top: -80px;
            margin-bottom: -80px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (width >=430px) {
                margin-top: 0px;
                margin-bottom: 0px;
            }
            
            > div {
                display: flex;
                flex-direction: row;
                gap: 32px;
                justify-content: center;
                position: relative;
            }
        }

    .middle-row, .last-row{
        margin-top: -32px;
    }


    img {
        width: 257px;
        height: 290px;

        @media (width <= 1024px) {
            width: 207px;
            height: 240px;
        }
    }

    .first-row, .last-row {
        width: fit-content;
    }

    .top {
        opacity: 1;
        z-index: 2;
        transition: var(--transition);

        &:hover {
            opacity: 0;
        }
    }

    .bottom-left {
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .bottom-right {
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .bottom-middle {
        position: absolute;
        left: 50%;
        margin-left: -128px;
        z-index: 1;

        @media (width <= 1024px) {
            margin-left: -103px;
            transform: scale(.98);
        }
    }

    @media (width <= 430px) {
        .honeycomb {
            margin: 0px;

            > div {
                flex-direction: column;
                width: 100%;
                gap: 0px;
            }

            > div:nth-child(1) {
                > img:nth-child(1) {
                    align-self: flex-end;
                }
                > img:nth-child(2) {
                    top: 0;
                    right: 0;
                    left: initial !important;
                }
                > img:nth-child(3) {
                    bottom: 0;
                    left: 0;
                }
            }

            > div:nth-child(2) {
                > img:nth-child(1) {
                    align-self: flex-end;
                }
                > img:nth-child(2) {
                    top: 0;
                    right: 0;
                    left: initial !important;
                }
                > img:nth-child(4) {
                    left: 0;
                    margin: 0px;
                }
                > img:nth-child(5) {
                    bottom: 0;
                    right: 0;
                }
                > img:nth-child(6) {
                    align-self: flex-end;
                }
            }

            > div:nth-child(3) {
                > img:nth-child(2) {
                    top: 0;
                    left: 0;
                }
                > img:nth-child(3) {
                    bottom: 0;
                    right: 0;
                }
                > img:nth-child(4) {
                    align-self: flex-end;
                }
            }
        }

        .middle-row, .last-row{
            margin-top: 0px;
        }

    }
</style>