---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';
---

<section>
    <div>
        <h2 class="h2-italic">Keep Up With us on Socials</h2>
        <p class="medium-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <div>

        </div>
    </div>
</section>

<style>
    section {
        background-color: var(--orange);
        padding: 160px 120px 80px 120px;

        > div {
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;
            text-align: center;
            color: var(--off-white);
        }
    }
</style>