---
// Style imports
import '../../styles/global.css';
import '../../styles/typography.css';

// Layout import
import ProjectLayout from '../../layouts/ProjectLayout.astro';
---

<ProjectLayout 
    title='Communicating a Creamy Crunch'
    description='SkyFlakes Sandwich Crackers are a popular snack that have become a staple in many lunchboxes and pantries in the Philippines. Each sandwich cracker is composed of three cracker pieces with flavored cream filling piped in between. Their existing packaging design was due for a refresh. We were tasked to find a way to visually capture how crisp the crackers are and to infuse this energy to all the other elements on the packs.'
    desktopImage='/images/projects/skyflakes-sandwich/hero--desktop.webp'
    mobileImage='/images/projects/skyflakes-sandwich/hero--mobile.webp'
    imageAltText='Skyflakes Sandwich Crackers Hero Shot'
    brand='Skyflakes Sandwich Crackers'
    client='Monde Nissin'
    tags={['Packaging Design', 'Art Direction', 'Photography']}
>
<section class="body">
    <div>
        <div class="__intro__pics">
            <img src="/images/projects/skyflakes-sandwich/hero--square.webp" alt="Skyflakes Sandwich Crackers Hero Shot">
            <img src="/images/projects/skyflakes-sandwich/lunchbox--portrait.webp" alt="Skyflakes Sandwich Crackers in Lunchbox">
        </div>
        <div class="__slider">
            <img-comparison-slider>
                <figure slot="first" class="--before">
                    <img width="100%" src="/images/projects/skyflakes-sandwich/slider--before.webp">
                    <figcaption class="small-body-mono">Before</figcaption>
                </figure>
              <figure slot="second" class="--after">
                <img width="100%" src="/images/projects/skyflakes-sandwich/slider--after.webp">
                <figcaption class="small-body-mono">After</figcaption>
              </figure>
            </img-comparison-slider>
        </div>
        <div class="__intro__copy">
            <p class="small-body">First on the agenda was to produce new product photography. The old packaging featured an intact sandwich cracker. To evoke the crunchiness of the crackers, the client requested to show the sandwich split in half. We tested out different cracker angles then settled on the one that was the showstopper.</p>
        </div>
        <div class="__products">
            <img src="/images/projects/skyflakes-sandwich/products--inner.webp" alt="">
            <img src="/images/projects/skyflakes-sandwich/products--outer.webp" alt="">
        </div>
        <div class="__crackers__box">
            <img src="/images/projects/skyflakes-sandwich/crackers.webp" alt="Floating Skyflakes Sandwich Crackers with Chocolate Cream">
            <div class="__crackers__copy">
                <p class="small-body">
                    It was important to be able to highlight the texture of the crackers. The photography captured all the grooves and uneven ridges, all the real life details that make SkyFlakes what it is. We wanted consumers to know that the sandwich cracker on the packaging is the same delicious one on the inside.
                    <br><br>
                    We also had splashes 3D-rendered to make it look like the sandwich cracker is bursting from cream. The packaging system came together with the addition of dynamic typefaces and punchy background colors.
                </p>
            </div>
        </div>
        <div class="__outer__loop">
            <img src="/images/projects/skyflakes-sandwich/outer--loop--compressed.gif" alt="Skyflakes Sandwich Crackers Outer Packaging Designs Looping">
        </div>
        <div class="__closer">
            <p class="small-body">The result injected new life in a well-loved brand. <br>It even caught the attention of local publication <span><a href="https://www.adobomagazine.com/adobo-exclusive/ns-design-founder-marla-darwin-walks-us-through-the-revamp-of-the-classic-filipino-skyflakes/" target="_blank">Adobo Magazine</a></span>.</p>
        </div>
        <div class="__closer__pics">
            <img src="/images/projects/skyflakes-sandwich/lunchbox--square.webp" alt="Skyflakes Sandwich Crackers in Lunchbox">
            <img src="/images/projects/skyflakes-sandwich/hero--square.webp" alt="Skyflakes Sandwich Crackers Hero Shot">
        </div>
    </div>
</section>

</ProjectLayout>

<style>
    .body {
        background-color: var(--off-white);

        @media (width >= 1280px) {
            display: flex;
            justify-content: center;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: 64px;

            @media (width >=1280px) {
                gap: 120px;
                align-items: center;
            }

            > .__intro__pics {
                padding: 32px 24px 0px 24px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                max-width: var(--max-width);

                @media (width >= 700px) {
                    padding: 0 64px;
                }
                
                @media (width >= 1280px) {
                    padding: 0 120px;
                    display: grid;
                    grid-template-columns: 3fr 1.989fr;
                }

                > img{
                    @media (width >= 1280px) {
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }


            > .__slider {
                padding: 0 24px;
                max-width: var(--max-width);

                @media (width >=700px) {
                    padding: 0 64px;
                }

                @media (width >=1280px) {
                    padding: 0 120px;
                }

                > img-comparison-slider {
                    --divider-color: var(--black);
                    --default-handle-color: var(--black);
                    --default-handle-width: clamp(40px, 10vw, 200px);

                    &:focus-visible {
                        outline: none;
                    }

                    @media (width >=1280px) {
                        --divider-width: 2px;
                    }

                    > figure {
                        margin: 0;
                        
                        > figcaption {
                            position: absolute;
                            top: 5%;
                            left: 50%;
                            transform: translateX(-50%);
                            line-height: 100%;
                            font-size: .8rem;

                            @media (width >=1280px) {
                                font-size: 1rem;
                            }
                        }
                        
                        
                        > img {
                            width: 100%;
                        }
                    }

                    > .--after > figcaption {
                        bottom: 5%;
                        top: initial;
                    }
                }
            }

            > .__intro__copy{
                padding: 0px 24px;
                text-align: center;

                @media (width >=700px) {
                    padding: 0px 64px;
                    margin: auto;
                }

                @media (width >=1280px) {
                    width: 800px;
                    margin: auto;
                }
            }

            > .__products{
                display: flex;
                flex-direction: column;

                @media (width >=1280px ) {
                    max-width: var(--max-width);
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                > img {
                        @media (width >= 1280px) {
                        width: 100%;
                    }
                }
            }

            > .__crackers__box{
                display: flex;
                flex-direction: column;
                gap: 40px;

                @media (width >=1280px ) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                > img {
                        @media (width >= 1280px) {
                        width: 100%;
                    }
                }

                > .__crackers__copy {
                    text-align: center;
                    padding: 0px 24px;

                    @media (width >= 700px) {
                        padding: 0px 64px;
                    }

                    @media (width >= 1280px) {
                        text-align: left;
                        margin: auto;
                        width: 400px;
                    }
                }
            }

            > .__outer__loop{
                padding: 0px 24px;
                max-width: var(--max-width);

                @media (width >= 700px) {
                    padding: 0px 64px;
                }

                @media (width >= 1280px) {
                    padding: 0px 120px;
                }

                > img {
                    width: 100%;
                }
            }

            > .__closer{
                padding: 0px 24px;
                text-align: center;
                
                > p > span > a {
                    color: var(--black);
                    text-decoration: underline black;
                    text-decoration-style: wavy;
                    text-underline-offset: .3rem;
                    transition: var(--transition);

                    &:hover {
                        color: var(--orange);
                        text-decoration: underline var(--orange);
                        text-decoration-style: wavy;
                    }
                }

                > p > br {
                    display: none;

                    @media (width >= 700px) {
                        display: initial;
                    }
                }
            }

            > .__closer__pics{
                display: flex;
                flex-direction: column;

                @media (width >= 1280px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }

                > img {
                    @media (width >= 1280px) {
                        width: 100%;
                    }
                }
            }
        }
    }
</style>


