---
//component imports
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Preloader from '../components/preloader.astro';
import MobileNav from '../components/MobileNav.astro';
import { SEO } from 'astro-seo';

// Props
interface Props {
	title: string;
	navColor: "blue" | "off-white";
}

const { 
	title,
	navColor 
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<SEO 
			title={title}
			description="We are a small design studio that articulates visual identities with a collaborative approach."
			openGraph={{
				basic: {
				  title: title,
				  type: "Portfolio",
				  image: "/images/projects/team-commonarea.webp",
				}
			}}
		/>
		<title>{title}</title>
	</head>
	<body>
		<Preloader />
		<MobileNav />
		<Nav color={navColor}/>
		<slot />
		<Footer />
	</body>
</html>


<script>
	const closeImg = document.getElementById('close');
	const hamburgerImgBlue = document.getElementById('hamburger')

	closeImg.addEventListener('click', function() {
		const mobileNav = document.getElementById('MobileNav');
		mobileNav.style.left = '450px';
		mobileNav.style.opacity = '0';
	});

	hamburgerImgBlue.addEventListener('click', function () {
		const mobileNav = document.getElementById('MobileNav');
		mobileNav.style.left = '0px';
		mobileNav.style.opacity = '1';
	});
</script>

